:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.log-go{
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 85%;
}

.BtnCH,
.BtnDl,
.endBtn,
.ebtn{
  margin: 10px;
  background-color: #242424;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
}

.checkbtn{
  width: 20px;
  cursor: pointer;
}

.declinebtn{
  cursor: pointer;
  width: 20px;
}

.nv-admin{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid wheat;
}

.nv-admin ul,
.nv-tutor ul{
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 15px;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  margin: 15px;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.bdy-log{
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.a-btn-log{
  display: flex;
  justify-content: center; 
  width: 100%;
}

.lbl-log{
  margin: 3px;
  font-size: 1.5em;
  line-height: 1.1;
}

.input-txt{
  width: 100%;
  margin-top: 3px;
  height: 30px;
}

.pdfR{
  background-color: #1a1a1a;
  width: 450px;
  height: 550px;
}

.btn-log {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 80%;
}
.btn-log:hover,
.csvtb:hover,
.csveb:hover,
.jsonb:hover,
.pdfb:hover,
.btnTxt:hover,
.endBtn:hover,
.ebtn:hover{
  border-color: #646cff;
}
.btn-log:focus,
.btn-log:focus-visible,
.endBtn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.csvT, 
.csvE,
.cJSON,
.PdfT{
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 40px;
  /* border: 1px solid white; */
}

.imgtutor{
  width: 300px;
}

.txtPubli{
  resize: none;
  margin: 10px;
}

.csvT label,
.cJSON label{
  width: 100px;
}
.csvT input,
.csvE input,
.cJSON input,
.PdfT input{
  background-color: #1a1a1a;
  border-radius: 5px;
  height: 50%;
  width: 300px;
}

.TBooksP td{
  border: 1px solid wheat;
  padding: 6px;
}

.Testudiante {
  border: 1px solid wheat;
}

.Testudiante td{
  padding-left: 5px;
  padding-right: 5px;

}

.Testudiante tbody tr:nth-child(odd){
  background-color: rgb(97, 97, 123);
} 

.containerCards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container h1{
  margin-left: 2px;
}

.card{
  border: 1px solid white;
  margin: 10px;
  padding: 20px;
}

.btnTxt{
  background-color: #1a1a1a;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  width: 150px;
}
iframe{
  margin: 10px;
}

.csvtb,
.csveb,
.jsonb,
.pdfb{
  background-color: #1a1a1a;
  cursor: pointer;
  height: 100%;
  width: 100px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
}
.container{
  display: flex;
  flex-direction: column;
  width: 98.9vw;
  height: 91vh;
  align-items: center;
  justify-content: center;
}

.btn-img{
  width: 40px;
}

.nv-tutor{
  border: 1px solid wheat;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .btn-log{
    background-color: #f9f9f9;
  }
}
